.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url('supermercados_chinos.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 200px;
    margin: 16px;
    background-color:white;
}
.card img {
    max-width: 100%;
    border-radius: 8px;
}
.card h2 {
    font-size: 1.2em;
    margin: 8px 0;
}
.card p {
    color: #555;
}
.card button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.card button:hover {
    background-color: #218838;
}

.card input {
    width: 50px;
    margin-top: 10px;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #333;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul .total {
    margin-left: auto;
    color: white;
  }
  
  /* Estilos para el footer */
  footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 0;
  }
  
  footer ul li {
    margin: 0 15px;
  }
  
  footer ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  